.box1 img {
    height: 750px;
    margin: auto;
    display: block;
}


.caixa1 {
    width: 700px;
    height: 850px;
    position: relative;
    top: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(33, 125, 167, 0.34);
    border: 1px solid #f8f8f8;
    padding: 10px;
    color: #fffefe;
}

.homem {
    color: #fffefe;

}

.corpo-humano {
    height: 700px;
    text-align: center;
}

.corpo-humano path {
    stroke: #00052a;
    stroke-width: 6px;
    transition: 0.5s;
    cursor: pointer;
}

#abdominals:hover path,
#obliques:hover path,
#forearms:hover path,
#biceps:hover path,
#traps:hover path,
#chest:hover path,
#quads:hover path,
#calves:hover path,
#traps:hover path,
#shoulders:hover path {
    fill: var(--cor-destaque);
    
}