
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@1,300&family=Staatliches&display=swap');

.text6 {
    color: #ffffff;

   }

   .text5 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Handjet', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
   }