#conteudo {
    padding: 40px;
    
    
}

.tabela {
    margin-top: 30px;
    background-color:transparent;
    color: #fff;
 
    
}

.text {
    font-size: 65px;
}


.text2 {
    font-size: 45px;
}




.descricao {
    color: #fff;
    font-size: 20px;
 margin-left: 40px;
}

td img{

    width: 290px;
    height: 200px;
}