@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Staatliches&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Sedgwick+Ave+Display&family=Staatliches&display=swap');


.table {
     color: rgb(255, 252, 252);
    background-color: transparent;
    caption-side:center;
    width: 900px;
    height: 70px;
}

th {
    background: #041d5285;
    border: 1px solid rgb(255, 255, 255);
}

td {
    border: 1px solid rgb(255, 255, 255);
}

#exercicios {
    width: 30%;
}

#img {
    width: 100px;
    height: 100px;
}